/*
basically all of this is from here except the recolor (which is from https://github.com/papamilky):
https://codeberg.org/ridge/Discord-CSS-Tweaks/src/branch/main/discord-css-tweaks.css
*/

/* Username gradients in boosted guilds */
span[class*="-usernameGradient"] {
  -webkit-text-fill-color: unset;
  background: none;
  color: var(--custom-gradient-color-1);
}

span[class*="-nameGlow"] {
  display: none;
}

/* Quests icon */
svg[class^=questsIcon_] {
  display: none;
}

/* Avatar decorations */
svg[class*=-avatarDecoration] ,
img[class*=-avatarDecoration] {
  display: none;
}

/* Profile decorations */
div[class*=profileEffects] {
  display: none;
}

/* Community badge... thing */
span[class*="-chipletContainerInner"]:has(img[class*="-badge"]) ,
div[class*="-tags"] > span[class*="-guildTagContainer"] {
  display: none;
}

/* Custom status reaction buttons */
div[class~="user-profile-modal-v2"] div[class*="-statusPopover"] ,
div[class~="user-profile-popout"] div[class*="-statusPopover"] {
  display: none;
}

/* top bar removal */
div[class*="-layer"] > div[class*="-container"] > div[class*="-base"] > div[class*="-bar"]:has(div[class*="-title"]) {
  display: none;
}

nav[class*=-wrapper]:has(div[class*="-unreadMentionsIndicatorTop"]) {
  margin-top: 0.9em;
}

:root {
  --custom-app-top-bar-height: 0.1px;
}

/* Download Apps button in web app */
div[class*=-listItem]:has(div[data-list-item-id=guildsnav___app-download-button]) {
  display: none;
}

/* Remove game collection buttons */
div[class$="-widgetPreviews"],div[class*="-scrollerBase"] > section > ul > li > div:has(img[src*="/app-icons/"]) {
  display: none;
}

/* Chat box sticker button */
div[class^=expression-picker-chat-input-button]:has(div[class*=-stickerButton]) {
  display: none;
}

/* App catalogue buttons */
div[id="guild-header-popout-application-directory"] , /* Guild menu app catalogue */
div[class~="app-launcher-entrypoint"] {               /* In-chat app catalogue    */
  display: none;
}



/* Recolor */

:root {
    --base00: #333c43;
    --base01: #272E33;
    --base02: #343F44;
    --base05: #FDF6E3;
    --border: #83C092;
    --server-radius: 0%;
        --text-normal: #bfddb2;
}

.theme-light,
.theme-dark,
.theme-darker,
.theme-midnight,
.visual-refresh {
    --activity-card-background: var(--base01) !important;
    --background-base-lowest: var(--base00) !important;
    --background-floating: var(--base02) !important;
    --background-mentioned-hover: var(--base02) !important;
    --background-mentioned: var(--base01) !important;
    --background-message-highlight: var(--base01) !important;
    --background-message-hover: var(--base00) !important;
    --background-modifier-accent: var(--base02) !important;
    --background-modifier-active: var(--base02) !important;
    --background-modifier-hover: var(--base00) !important;
    --background-modifier-selected: var(--base01) !important;
    --background-primary: var(--base00) !important;
    --background-secondary-alt: var(--base01) !important;
    --background-secondary: var(--base01) !important;
    --background-surface-higher: var(--base02) !important;
    --background-surface-high: var(--base02) !important;
    --background-tertiary: var(--base00) !important;
    --background-base-low: var(--base02) !important;
    --background-base-lower: var(--base00) !important;
    --background-base-tertiary: var(--base00) !important;
    --background-code: var(--base02) !important;
    --bg-base-tertiary: var(--base00) !important;
    --bg-mod-faint: var(--base01) !important;
    --bg-overlay-2: var(--base01) !important;
    --bg-overlay-3: var(--base01) !important;
    --border-faint: var(--border) !important;
    --brand-05a: var(--base01) !important;
    --brand-10a: var(--base01) !important;
    --brand-15a: var(--base01) !important;
    --brand-560: var(--base01) !important;
    --button-filled-brand-text: var(--base00) !important;
    --button-filled-brand-text-hover: var(--base05) !important;
    --button-secondary-background: var(--base02) !important;
    --card-primary-bg: var(--base02) !important;
    --channeltextarea-background: var(--base01) !important;
    --chat-background-default: var(--base02) !important;
    --checkbox-background-default: var(--base02) !important;
    --custom-notice-text: var(--base01) !important;
    --font-display: var(--font, "gg sans") !important;
    --font-headline: var(--font, "gg sans") !important;
    --font-primary: var(--font, "gg sans") !important;
    --home-background: var(--base00) !important;
    --input-background: var(--base02) !important;
    --interactive-active: var(--base05) !important;
    --interactive-hover: var(--base05) !important;
    --interactive-normal: var(--base05) !important;
    --mention-foreground: var(--base05) !important;
    --message-reacted-background: var(--base02) !important;
    --modal-background: var(--base01) !important;
    --modal-footer-background: var(--base00) !important;
    --primary-130: var(--base05) !important;
    --primary-300: var(--base05) !important;
    --primary-500: var(--base02) !important;
    --primary-600: var(--base00) !important;
    --primary-630: var(--base01) !important;
    --primary-660: var(--base00) !important;
    --primary-800: var(--base00) !important;
    --scrollbar-auto-thumb: var(--base00) !important;
    --scrollbar-auto-track: transparent;
    --scrollbar-thin-thumb: var(--base00) !important;
    --scrollbar-thin-track: transparent;
    --search-popout-option-fade: none;
    --text-normal: var(--base05) !important;
    --textbox-markdown-syntax: var(--base05) !important;
    --theme-base-color: var(--base00) !important;
    --white-100: var(--base05) !important;
    --white-200: var(--base05) !important;
    --white-500: var(--base05) !important;
    --white: var(--base05) !important;
}

/*--- Voice Reconnect Text Recolor ---*/
.addFriend__133bf.addFriend__133bf.addFriend__133bf {
    color: var(--base00) !important;
}
.notice__6e2b9 {
    color: var(--base00) !important;
}
.notice__6e2b9 .button__6e2b9 {
    color: var(--base00) !important;
    border: 1px solid var(--border) !important;
}

/*--- Listen Along Invite Recolor ---*/
.invite__4d3fa {
    background: var(--base01) !important;
    border-color: var(--border) !important;
}

/*--- Activity Card Background Recolor ---*/
.card__73069 {
    background-color: var(--base01);
}

div[class^="bar__"] {
    background-color: var(--base01) !important;
    border-color: var(--border) !important;
}

/*--- Mentions Bar Text Recolor ---*/
.mentionsBar__7aaec .barText__7aaec {
    color: var(--base05) !important;
}

/*--- Forum Background Recolor ---*/
.container_f369db {
    background-color: var(--bg-overlay-2);
}

/*--- Voice Chat Action Icon Recolor ---*/
div[class^="actionButtons"] [class^="button"][class*="buttonColor_"],
div[class^="actionButtons"] [class^="button"] [class*="buttonColor_"] {
    background-color: var(--base02);
}

/* --- Secure Lock Icon Recolor --- */
.lockIcon__2666b {
    display: none;
}

/*--- Call Container Recolor ---*/
.callContainer_cb9592 {
    background-color: var(--base00);
}
.gradientContainer_bfe55a {
    background-image: var(--base00);
}

/*--- Store Gradient Recolors ---*/
.gradient_e9ef78 {
    background: var(--base01) !important;
}
.bannerGradient__955a3 {
    background: var(--base00) !important;
}

/*--- Increase Text Legibility ---*/
* {
    text-rendering: optimizeLegibility !important;
}

/*--- Visual Refresh Recolor ---*/
/*--- BIG WORK IN PROGRESS. DISCORD MADE SOME BIG CHANGES. ---*/
.visual-refresh {
    div[class^="topicsPillContainer"] {
        --bg-overlay-2: var(--base02) !important;
    }
    .bg__960e4 {
        background: var(--base00) !important;
    }
    .wrapper_ef3116 {
        background-color: var(--base00) !important;
    }
    .sidebar_c48ade {
        background-color: var(--base00) !important;
    }
    .searchBar__97492 {
        background-color: var(--base02) !important;
    }
    .channelTextArea_f75fb0 {
        background: var(--base02) !important;
    }
    .chatContent_f75fb0 {
        background-color: var(--base01) !important;
    }
    .members_c8ffbb,
    .member_c8ffbb {
        background: var(--base00) !important;
    }
    .voiceBar__7aaec {
        background-color: var(--base02) !important;
    }
    button.button__67645.redGlow__67645,
    span.button__67645.redGlow__67645 {
        background-color: var(--base02) !important;
    }
}
