/*
distraction free youtube css cuz ffs i can't stand your clickbait and AI overview and ragebait comment section
*/

/* REMOVE FEED */
#feed, ytd-browse[page-subtype=home] {
    display: none; 
}
#related {
    display: none
}

/* Force always theater mode */
.container {
    width: 100%;
    height: 100%;
}
.theater-toggle {
    margin: auto;
}

/* Remove left pane */
#guide {
    display: none;
}

/* remove left mini bar (optional tbh because i don't login so i don't see subscribed channels) */
ytd-mini-guide-renderer {
    display: none !important;
}
ytd-app[guide-persistent-and-visible] ytd-page-manager.ytd-app {
    margin-left: 0;
}

/* Remove cards at the end of videos */
.ytp-fullscreen-grid-main-content {
    display: none !important;
}

/* Remove noti button */
ytd-notification-topbar-button-renderer {
    display: none !important;
}

/* Remove avatars in comment section */
#author-thumbnail {
    display: none !important;
}

/* NO SHORTS */
ytd-guide-entry-renderer:has([title="Shorts"]) {
  display: none !important;
}
/* Feed */
ytd-grid-video-renderer:has([overlay-style="SHORTS"]),
ytd-reel-shelf-renderer,
ytd-rich-shelf-renderer,
ytd-video-renderer:has([aria-label="Shorts"]) {
  display: none !important;
}

.ytGridShelfViewModelHost .ytd-item-section-renderer {
    display: none !important
}

/* no metadata in search */
.metadata-snippet-container-one-line, .metadata-snippet-container {
    display: none !important;
}

/* no AI metadata */
#expandable-metadata {
    display: none !important;
}

/* FUCK YOU AI OVERVIEW BUTTONS */
#flexible-item-buttons {
    display: none !important;
}
/* some random buttons i hate */
#guide-button {
    display: none !important;
}
